body {
	background-repeat:no-repeat;
    background-image: url("img/cafeteria.jpg");
    
    background-position: center top;
}

#next{
	position: absolute;
	top: 400px;

	width: 100%;
	color: white;
    margin: 0 auto; 
}