---
layout: default
image: "/img/post-sample-image.jpg"
heading: Blog Posts
subheading: "An analysis of the world around me."
---
<article>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <h2 class="section-heading">{{page.title}}</h2>
                <h4>{{page.subtitle}}</h4>
                <p>{{ page.date | date_to_string }}</p>
                <p>
                {{content}}
                </p>
            </div>
        </div>
    </div>
</article>